@use './partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $appBlack;
    color: $appWhite;
    font-family: sans-serif;
}



.container{
    max-width: 1400px;
    margin: 0 auto;
}


